<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="route1">Angular Assignment</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLinkActive="active" routerLink="route1">Route1</a>
          <a class="nav-link" routerLinkActive="active" routerLink="route2">Route2</a>
          <a class="nav-link" routerLinkActive="active" routerLink="route3">Route3</a>
          <a class="nav-link" routerLinkActive="active" routerLink="route4">Route4</a>
          <a class="nav-link" routerLinkActive="active" routerLink="route5">Route5</a>
          <a class="nav-link" routerLinkActive="active" routerLink="route6">Route6</a>
        </div>
      </div>
    </div>
  </nav>