<div class="container m-4 text-center">
    <div class="row" id="div-btn">
        <div class="col-md-2 offset-md-8">
            <div id="view-btn">
                <a href="javascript:" (click)="changeViewType('grid');" id="btnGrid" class="grid-btn">
                    <img src="./assets/images/grid-svg.svg" class="img-fluid"/>
                </a> 
                <a href="javascript:" (click)="changeViewType('list');" id="btnList" class="lst-btn">
                    <img src="./assets/images/list-svg.svg" class="img-fluid"/>
                </a> 
            </div>
        </div>
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                  Sort by price
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a id="btnPriceAsc" class="dropdown-item {{sortType=='asc'? 'active':''}} " href="javascript:" (click)="sortData('asc');">Low to High</a></li>
                  <li><a id="btnPriceDesc" class="dropdown-item  {{sortType=='desc'? 'active':''}} " href="javascript:" (click)="sortData('desc');">High to Low</a></li>
                </ul>
              </div>
        </div>
    </div>
    <div [ngClass]="{'grid-view': viewType=='grid', 'list-view': viewType=='list'}" class="container">    
        <div class="row">
            <div [ngClass]="{'col-md-3': viewType=='grid', 'col-md-6': viewType=='list'}" 
             *ngFor="let data of jsonData">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{data.title}}</h5>
                      <p class="card-text">{{data.description}}</p>
                      <span class="badge bg-secondary mb-2">Price: {{data.price}}</span>
                      <a href="#" class="btn btn-primary">{{data.buttonText}}</a>
                    </div>
                  </div>
                </div>
        </div>            
    </div>
</div>