body {
    overflow: hidden
  }
  .text-div {
      animation: my-animation 10s linear infinite;
      text-align: center;
      color: black;
      letter-spacing: .5px;
      font-size: 20px;
  }
  
  @keyframes my-animation {
    0%{
      transform: rotate(0deg);
      }
      50%{
          transform: rotate(180deg);
      }
      100%{
          transform: rotate(360deg);
      }
  }