<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <a routerLink="route1">Route 1</a>
                </li>
                <li>
                    <a routerLink="route2">Route 2</a>
                </li>
                <li>
                    <a routerLink="route3">Route 3</a>
                </li>
                <li>
                    <a routerLink="route4">Route 4</a>
                </li>
                <li>
                    <a routerLink="route5">Route 5</a>
                </li>
                <li>
                    <a routerLink="route6">Route 6</a>
                </li>
            </ul>
        </div>
    </div>
</div>